EXPO_PUBLIC_API_BASE=https://your-ngrok-url.ngrok-free.app

EXPO_PUBLIC_ARCGIS_API_KEY=your_api_key
EXPO_PUBLIC_ARCGIS_LICENSE_KEY=your_arcgis_lite_license_key_here
EXPO_PUBLIC_ARCGIS_DESTINATION_URL=""

EXPO_PUBLIC_ARCGIS_BRANCHES_URL=""