EXPO_PUBLIC_API_BASE=https://your-ngrok-url.ngrok-free.app

EXPO_PUBLIC_ARCGIS_API_KEY="AAPTaPJ7qjZmDfJm77Phu-y0PEg..1Vt4-y0sfkOeRX_CITmQahbhOY58NhNk3CIk3emocS16CUo10hlcV-YIpHXeX6klk9eVD1BOkrhPx_TWDItKoDwibxJicXVIH_6ZvEb5CKYNJVXW8Njw6WxOaSuajfgMF3U0ptgs9jAsgzgowv83r5vZ3k6Cd14wtfaDUWqTMk__eK3bVV5MlrSZFl4rEqECduovSBZouk4XBl14onv2rxhfts8DJF8xxg..AT1_sbjyphC8";
EXPO_PUBLIC_ARCGIS_LICENSE_KEY=your_arcgis_lite_license_key_here